
body{
	background-color: #302d2d;
	background-image: url(../img/cor.jpg);
}

#container {
	width:100%;
	margin: 0 auto;
}
#signup{
    background-color: aliceblue;
    width: 30%;
    margin: 2%;
    padding: 1%;
    -ms-flex-item-align: center;
}

h1{
	color: #F1F1F1;
	font-size: 32px	;
	font-family: 'Lato', sans-serif;
	
}
h3{
	text-align: center;
}
p,h1,h2,h3,h4,label,legend,.col4 li,table{
	color: #fff;
}

/* Columns*/

.col4,.col3,.col6,.col9,.col12 {
    float: left;
    padding:10px;
}
.col4 {
    width: 30%;
}
.col3 {
    width: 25%;
}
.col6 {
    width: 50%;
}
.col9 {
    width: 70%;
}
.col12 {
    width: 100%;
}

.col3 .row{
	padding: 20px
}
.clear {
    clear: both;
    display: block;
}

.company-banner img{
	margin: 0px 15px 0px 20px;
	width: auto;
	max-height: 80px;
	padding: 0;
}
.company-banner h1{
	margin-left: 15px,
}
.company-banner img,.company-banner h1{
	float: left;
}

.menu{
	font:1em Georgia;
	list-style: none;
	padding: 0;
	margin;0;
	background-color: #fff;
	text-transform: uppercase;
	/*border-bottom: 3px solid #000;*/
	/*border-top:1px solid #ddd;*/
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

.menu li{
	display:inline-block;
	padding: 5px 15px 4px 15px;
}

.menu li a{
	color: #333333;
	text-decoration: none;
	line-height: 3em;
}

.menu li a:hover {
	color: #992211;
}

.menu li.selected{
	background:#333333;
}

.menu li.selected a{
	color:#fff;
}


footer {
    padding: 20px;
    text-align: center;
    background: #292929;
}

footer li{
	text-align: left;
	list-style: none;
	margin-left: 20px;
	line-height: 1.6em;
}


.home-page{
	background-image: url(../img/bg_home.png);
	text-align: center;

}

.home-content h1 {
	border-bottom: 2px solid #fff;
	border-top:2px solid #fff;
	color: #F1F1F1;
	font-family: 'Lato', sans-serif;
	font-size: 32px	
	line-height: 4em;
	padding: 15px 0px 15px 0px;
	margin: 0 0 4em 0;

}
.home-page p {
	color: #F1F1F1;
	font-family:  "Poppins",sans-serif;
	font-size: 24px;
	max-width: 1000px;
	text-transform: uppercase;
	line-height: 1.5em;
	margin: 3em auto 3em auto;
}

.btn-large,form input[type="submit"]{

	width: 300px;
	height: 70px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	background-color: #333333;
	border: 1px solid #fff;
	color: #ffffff;
	margin-right: 1em;
}
.btn-large:hover{
	color: #992211;
	border: 1px solid #992211;

}
form{
	padding: 30px;
}

form input[type="submit"]{
	width: 100%;
	max-height: 70px
}

.home-content{
	background-color: #00000006;

}



.product img,.client img{
	border: 1px solid #fff;
	width: 100%;
	max-height: 300px;
	text-align:center;
	margin:  auto 0 auto 0;
}
.product p,.client p{
	font-style: "Poppins",sans-serif;
	margin:  0 auto 1em auto;

}
.client,.product{
	border: 1px solid #fff;
}

#filter-btn{
	width: 150px;
	height: 40px;
}
form input[type="search"],.filter select{
	padding: 15px;
	width: auto;
	margin: 5px;
	font-size: 18px;
}
table{
	width: 100%;
	border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #1abc9c}
tr:nth-child(odd){background-color: #2980b9}

.table{
	min-height: 500px;
}

.icons img{
	margin:  15px 0 15px 0;
}

h1{
	color: #F1F1F1;
	font-size: 32px	;
	font-family: 'Lato', sans-serif;
	
}
h3{
	text-align: center;
}
p,h1,h2,h3,h4,label,legend,.col4 li,table{
	color: #fff;
}

/* Columns*/

.col4,.col3,.col6,.col9,.col12 {
    float: left;
    padding:10px;
}
.col4 {
    width: 30%;
  
}
.col3 {
    width: 25%;
}
.col6 {
    width: 50%;
}
.col9 {
    width: 70%;
}
.col12 {
    width: 100%;
}

.col3 .row{
	padding: 20px
}
.clear {
    clear: both;
    display: block;
}
form{
	padding: 30px;
}

form input[type="text"],form input[type="password"],form input[type="email"],textarea,form select{
	padding: 15px;
	width: 80%;
	margin: 15px;
	font-size: 18px;

}
form input[type="submit"]{
	width: 100%;
	max-height: 70px
}
    


@media screen and (max-width: 1270px) {
  .col3,.col4, .col6,.col9,.col12 {
    width: 100%;
  }
}