body{
    width: 100%;
}
.nav li{
    display: inline;
    color: white;
    
}
#logo{
    font-size: 200%;

}
#topnav{
    float: right;
    padding-right: 5%;
    padding-top: 0.5%;
}
.nav{
    padding-top: 0%;
    background-color: rgb(46, 42, 42)
}
#main-message{
    font-size: 300%;
    color:white;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    

}
#messag{
    padding-bottom: 20%;
    text-align: center;
    font-size: 200%;
    padding-top: 2%;
    color: #B20000;
    font-family: fantasy;

}
#message{
    
    padding-top: 2%;
    padding-left: 30%;
    padding-right: 25%;
}
#login{
    text-align: center;
    font-size: 50%;
    background-color: rgb(192, 192, 206);
    color: #000;
    width: 30%;
   border-left: 60%;
   margin-left: 36%;
   padding: 0%;
   

    display: none;
}
#signup{
    text-align: center;
    font-size: 50%;
    background-color: rgb(192, 192, 206);
    color: #000;
    width: 30%;
   border-left: 60%;
   margin-left: 36%;
   padding: 0%;
   

    display: none;
}   

#login button{
    padding-top: 1%;
    width: 40%;
}
.footer div{
    display: inline;
    text-align: center;
    padding-right: 8%;
    
    
}

.contacts{
    float: left;
    padding-left: 10%;

}
.about{
    float: left;
}
.info{
    float: left;
    
}
.footer p{
    color: rgb(95, 89, 89);
    font-size: 150%;
}
.sideone{
    float: left;
   
}
.sidetwo{
    float: right;
    /* display: none; */
}
/* fieldset{
    margin-top: 10%;
    width: 50%;
 margin-left: 23%; */
 
   
}
fieldset input{
    width: 100%;
    /* height: 200%; */
    border-top-color: rgb(232, 232, 235);
}
.footer{
    background-color: rgb(20, 20, 19);
}
#bribery{
    padding: 0%;
    color:white;
    text-align: center;
    font-size: 100%;
    font-style: oblique;
    font-weight: 300%;
    background-color: #000;
    font-size: 200%;
    /* display: none; */

}
.wrap div{
    display: inline;
}


#embezzmler{
    padding: 0%;
    color:white;
    text-align: center;
    font-size: 100%;
    font-style: oblique;
    font-weight: 300%;
    background-color: #000;
    font-size: 200%;
    display: none;

}
fieldset .reps{
    width: 40%;
    
}
#detail{
    padding: 0%;
    color:white;
    text-align: center;
    font-size: 100%;
    font-style: oblique;
    font-weight: 300%;
    background-color: #000;
    font-size: 200%;
    display: none;

}
#reporter-record{
    padding-top: 2%;
    text-align: center;
    font-size: 100%
}
.corruption-cases p{
    text-align: left;
    font-size: 150%;
    font-weight: 200%;
}
.title{
    font-style: normal;
    font-weight: 400%;
    background-color:rgb(128, 125, 125);
    color: black;
    

}

.userdash{
    float:left;
    display: inline;
}

.userdash-content{
    /* width: 50%; */
    float: right;
    /* font-size: 120%;
    padding-left: 1%;
    padding-top: 10%;  */
    text-align: center;
}
.userdash-content button{
    font-size: 300%;
    margin-top: 20%;
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
.form{
    font-size: 110%;
    background-color: antiquewhite;
}
button{
    background-color: rgb(181, 187, 190);
    font-size: 120%;
    flex-grow: inherit;
}
.sign{
    color: #B20000;
}
li{
    color: white;
    text-decoration: none;
}
#corruption-cases{
    text-align: left;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 150%;
    
}
#embezkmler{
    display: none;
}
#bribnery{
    
}
